body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 264px;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 200px auto;
}

.main h1 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.main p {
    margin-left: 16px;
    margin-bottom: 8px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.main input {
    margin-left: 16px;
    width: 608px;
    height: 48px;
    border: 0.5px solid #DADADA;
    border-radius: 4px;
    margin-bottom: 16px;
}

.main input::placeholder {
    margin-top: 16px;
    padding-left: 16px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.25);
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.main button {
    margin-left: 128px;
    width: 384px;
    height: 48px;
    background: #232529;
    border-radius: 4px;
}

.main span {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
}