body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.main {
    width: 640px;
    height: 328px;
    background: #FFFFFF;
    border-radius: 4px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 200px auto;
}

.main h1 {
    margin-bottom: 0px;
    margin-top: 40px;
    height: 24px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.main p {
    margin-top: 8px;
    margin-bottom: 40px;
    margin-left: 192px;
    width: 256px;
    height: 32px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A9A9A9;
}

.sms {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    width: 216px;
    height: 48px;
    text-align: center;
}

.sms input {
    width: 48px;
    margin-left: 4px;
    margin-right: 4px;
    height: 48px;
    background: #FFFFFF;
    border: 0.5px solid #DADADA;
    border-radius: 12px;
}

.sms input::placeholder {
    padding-left: 16px;
    padding-top: 8px;
    width: 16px;
    height: 32px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    color: #141414;
}

.main button {
    margin-top: 40px;
    width: 384px;
    height: 48px;
    background: #232529;
    border-radius: 4px;
    border-color: #232529;
}

.main span {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
}