.html,
body {
    padding: 0;
    margin: 0;
    background-color: rgba(245, 245, 245, 1);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header>img {
    margin-top: 40px;
    margin-left: 16px;
    width: 24px;
    height: 24px;
}

header>p {
    margin-bottom: 184px;
    margin-left: 16px;
    margin-top: 40px;
    width: 171px;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title h1 {
    margin: 0 auto;
    width: 328px;
    height: 24px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.title p {
    margin-top: 16px;
    margin-left: 55px;
    width: 280px;
    height: 32px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #A9A9A9;
}

.password {
    margin-top: 16px;
    width: 216px;
    height: 48px;
    margin-left: 90px;
    gap: 8px;
}

.password input {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    background: #F5F5F5;
    border: 0.5px solid #DADADA;
    border-radius: 12px;
}

button {
    margin-top: 48px;
    margin-left: 10px;
    width: 368px;
    height: 48px;
    background: #232529;
    border-radius: 4px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;

    color: #F5F5F5;
}