.html,
body {
    padding: 0;
    margin: 0;
    background: rgba(169, 169, 169, 1)
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 4px;
    width: 328px;
    height: 328px;
    margin: 200px auto;
}

.close img{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
}

h1 {
    margin-top: 8px;
    margin-left: 50px;
    margin-bottom: 8px;
    width: 248px;
    height: 24px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

p {
    margin-top: 0px;
    margin-left: 25px;
    margin-bottom: 28px;
    width: 256px;
    height: 32px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A9A9A9;
}

.check>img {
    width: 80px;
    height: 80px;
}

button {
    margin-top: 28px;
    width: 296px;
    height: 48px;
    background: #232529;
    border-radius: 4px;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
}